/* Styles pour le calendrier */
.calendar {
    -fx-background-color: #f2fafc;
}

/* Styles pour les jours de la semaine */
.dayOfWeek {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/* Styles pour les jours du mois */
.dayOfMonth {
    -fx-font-size: 16px;
}

/* Styles pour les activités */
.activity {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-margin: 2px;
    -fx-font-size: 12px;
}
